@model MvcDemo.Models.Course

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Course</title>
</head>
<body>
    
        <h2>Course</h2>
        <hr />
        <h3>Name :  @Model.Name</h3>
        <h3>Duration :  @Model.Duration</h3>
     
     
</body>
</html>
