
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
   <form action="Login" method="post">
       Password : <input type="password" name="password" />
       <input type="submit" value="Login"/>
       <p/>
       @ViewBag.Message
   </form>
    
</body>
</html>
